<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demon.springbootapi.database.dao.SystemSwaggerUrlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demon.springbootapi.database.entity.SystemSwaggerUrl">
        <id column="su_id" property="suId" />
        <result column="su_url" property="suUrl" />
        <result column="su_method" property="suMethod" />
        <result column="su_tags" property="suTags" />
        <result column="su_summary" property="suSummary" />
        <result column="su_description" property="suDescription" />
        <result column="su_operationId" property="suOperationid" />
        <result column="su_consumes" property="suConsumes" />
        <result column="su_produces" property="suProduces" />
        <result column="su_parameters" property="suParameters" />
        <result column="su_responses" property="suResponses" />
        <result column="su_security" property="suSecurity" />
        <result column="su_deprecated" property="suDeprecated" />
        <result column="su_createtime" property="suCreatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        su_id, su_url, su_method, su_tags, su_summary, su_description, su_operationId, su_consumes, su_produces, su_parameters, su_responses, su_security, su_deprecated, su_createtime
    </sql>

</mapper>
