<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demon.springbootapi.database.dao.SystemUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demon.springbootapi.database.entity.SystemUser">
        <id column="u_id" property="uId" />
        <result column="app_id" property="appId" />
        <result column="app_key" property="appKey" />
        <result column="nick_name" property="nickName" />
        <result column="user_name" property="userName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        u_id, app_id, app_key, nick_name, user_name, create_time
    </sql>

</mapper>
