<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demon.springbootapi.database.dao.SystemSwaggerTagsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demon.springbootapi.database.entity.SystemSwaggerTags">
        <id column="st_id" property="stId" />
        <result column="st_name" property="stName" />
        <result column="st_description" property="stDescription" />
        <result column="st_createtime" property="stCreatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        st_id, st_name, st_description, st_createtime
    </sql>

</mapper>
